body{
    background-color: #602121;
}
h6{
    font-family: "Metal Mania",cursive;
    color: white;
    font-size: 150%;

  text-align: center;
}
footer{
  background-color: black;
}

.fa-youtube{
    color: #641010;
}

#mainBody{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image:linear-gradient(#602121, black);
    text-align: center;
}
.explode:hover{
    color: rgba(96, 33, 33, 0.56);
}

#contentsMain{
    display: inline-block;
    margin-top: 8em;
    margin-left: 5em;
}

.explode{
    letter-spacing: 5px;
    margin-top: -1em;
    font-size: 10em;
    font-family: "Metal Mania",cursive;
    -webkit-animation: test 4s infinite;
    animation: exploding 10s infinite;
    background-color: transparent;
    color: lightgrey;
}


@-webkit-keyframes exploding {
    50% {letter-spacing: 15px;}
}

@keyframes exploding {
    50% {letter-spacing: 15px;}
}
.mainFade{
   margin-left: 10em;
    width: 60%;
    animation: fadeIn ease 10s;
    -webkit-animation: fadeIn ease 10s;
    -moz-animation: fadeIn ease 10s;
    -o-animation: fadeIn ease 10s;
    -ms-animation: fadeIn ease 10s;
}
@keyframes mainFade {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-moz-keyframes mainFade{
    0% {opacity:0;}
    100% {opacity:1;}
}

@-webkit-keyframes mainFade {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-o-keyframes mainFade{
    0% {opacity:0;}
    100% {opacity:.1;}
}

@-ms-keyframes mainFade {
    0% {opacity:0;}
    100% {opacity:.1;}
}
h1{
    margin:  0;
    font-family: 'Metal Mania', cursive;
    font-size: 6em;
    color: #050505;
    text-transform: uppercase;
}


h3{
    color: grey;
}
.dot{
    height: 15px;
    width: 15px;
    background-color: #e14545;
    border-radius: 50%;
    display: inline-block;
}
#subtitle{
    color: dimgrey;
    font-size:2em;
    font-family: 'Rubik Wet Paint', cursive;
    margin-top: 0;
    margin-bottom: 2em;
    margin-left: 8em;
    opacity: 0;
    animation: fadeIn ease 5s;
    animation-fill-mode:forwards;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

nav ul{
    list-style: none;
    display: flex;
    margin-right: 3em;
    margin-top: 1em;
}
nav li{
margin-left: 1em;
}
nav a{
    font-family: 'Teko', sans-serif;
    text-decoration: none;
    color: white;
    font-size: 1.5em;
}

nav a:hover, nav a:focus{
    color: grey;
}
header{
    background-color: #602121;
    margin-top: 1em;
}
.container{
    width: 90%;
    max-width: 2200px;
    margin:  0 auto;
}
.container-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
input, textarea,label,h3 {
    width: 70%;
    display: block;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
    margin: 0 auto;
}
h3{
    font-size: 4em;
}
input, textarea,label{
    font-size: 18px;
}
label{
    padding: 0;
}
.container-form{
    background-color: #cccccc;
    border-radius: 4px;
    border: solid black 3px;
    width: 90%;
    font-family: 'Teko', sans-serif;
    margin:  0 auto;
}

.container-form{
     margin-bottom: 2em;
 }
.logo{
    width: 20%;
}
.logo-foot{
    width: 40%;
    margin-top: -2em;

}
.footer-content{
   text-align:center ;
}
#logo-title{
    display: flex;
}
form{
    border: solid black 5px;
    margin: 5em 2em 0  2em;
}

input[type=submit]{
    background-color: black;
    color: #cccccc;
    width: 40%;
    margin-bottom: 5px;

}

input[type=submit]:hover{
    background-color: gold;
    color: black;
}


.aboutSection{
    font-family: 'Teko', sans-serif;
    font-size: 2em;
    color: #641010;
}
.aboutSubs{
    font-family: "Metal Mania", sans-serif;
    font-size: 1.5em;
    color: #000000;
}
span{
    font-size: 4em;
    color: darkgrey;
    font-family: "Metal Mania",cursive ;
}
div.polaroid {
    width: 50%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    border: 3px black solid;
    margin-right: auto;
    margin-left: auto;
}
.aboutImg{
    opacity: 1;
}
.aboutImg:hover{
    opacity: .5;
    filter: alpha(opacity=100);
}
.fa-youtube:hover {
   color: white;
}
div.container {
    text-align: center;
    padding: 10px 20px;
}

#nerdy{
    color: #641010;
    text-decoration: none;

}

#nerdy:hover{
   color: #cccccc;
}

@media (max-width:1400px) {
    h1{
        margin-left: 1em;
        font-size: 4em;
    }
    .container{
        text-align: center;
    }
    .container-navbar{
        flex-direction: column;
        align-items: center;

    }
    form{
        display: inline-block;
    }
    .logo{
        width: 10%;
    }
    nav ul{
        flex-direction: column;
        align-items: center;
        margin-bottom: 5em;
    }
    nav li{
        margin-right: 3em;
        border-bottom: solid black 2px;
        align-items: center;

    }

    #subtitle{
        font-size: 1.5em;
        margin-left:3em;
        padding-bottom: 1em;
    }
    nav a{

        font-size: 1.5em;
    }
    form{
        margin: 2em;
    }
    input, textarea,label{
        font-size: 1em;
    }

    .explode{
        margin-top: 0;
        font-size: 4em;

        letter-spacing: 0;
    }
    #contentsMain
    {
        margin-top: 0;
        margin-left: auto;
        margin-right: auto;
    }

    #mainNav{
        float: none;
    }

    nav ul{
        margin-left: 5em;
    }
    div.polaroid{

        width: 90%;
    }

   .mainFade{
       margin-left: 4em;
   }
      @-webkit-keyframes exploding {
        50% {letter-spacing: 10px;}
    }

    @keyframes exploding {
        50% {letter-spacing: 10px;}
    }

    .logo-foot{

        margin-top:0;

    }
 }

